<!DOCTYPE html>
<html>
	<head>
	  

	  <style>
	  	span.status {display: block; width: 10px; height: 10px; margin: 0.25em auto; padding: 0; border: 1px solid #000000;}
	  	span.status { background: green; color: green;}
	  	span.status.false {background: :red; color: red;}
	  </style>


 	<%= stylesheet_link_tag    "application", :media => "all" %>

</head>

<body>


  	<div id ="header">
    	<h1>CCHEM Berkeley</h1>
  	</div>

  	<div id="main">
	  	<% if !flash[:notice].blank? %>
		  <div class="notice">
		    <%= flash[:notice] %>
		  </div>
		<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>

		<div id="footer">
			<center><p id="copyright">&copy; Molecular Graphics and Computation Facility, College of Chemistry, University of California, Berkeley</p>
		</div>

</body>		
	
</html>
